<html>
<head>
    <meta charset="UTF-8">
    <title>Commands for ${channel.channel}</title>
</head>

<body>
#parse("include.vm")
<div id="content">
    <table class="users">
        <tr>
            <td>Name</td>
        </tr>
        #foreach($name in $userlist)
            <tr>
                <td><a href="${web}/users/user/${channel.broadcaster}/${name}">${name}</a></td>
            </tr>
        #end
    </table>

    <a href="${web}/users/listnames/${channel.broadcaster}/${previous}">Previous</a>
    <a href="${web}/users/listnames/${channel.broadcaster}/${next}">Next</a>
</div>
#parse("footer.vm")
</body>

</html>