<html>
<head>
    <meta charset="UTF-8">
    <title>You are using a bad browser!</title>
</head>

<body>
<div id="content">
    <img src="${web}/badbrowser.png" alt="You are using a bad browser. This site works best with Firefox or Chrome!"></br></br>
    <a href="https://www.google.com/chrome/"><img src="${web}/dlchrome.png" alt="Download Chrome"></a>
    <a href="https://www.mozilla.org/en/firefox/products/"><img src="${web}/dlff.png" alt="Download Firefox"></a>
</div>
    #parse("footer.vm")
</body>

</html>