#parse("style.vm")

<body background="${channel.bgimage}"></body>

<div id="header">
    <h1>Commands for channel ${channel.channel}</h1>
</div>
<div id="nav">
    <ul id="main_nav" style="list-style-type:none">
        <li>
            <a class="commands_link" href="${web}/commands/${channel.broadcaster}">Commands</a>
        </li>
        <li>
            <a class="i_commands_link" href="${web}/commands/list/internals/${channel.broadcaster}">Internal Commands</a>
        </li>
        <li>
            <a class="filenames_link" href="${web}/filesnames/${channel.broadcaster}/0">Filenames</a>
        </li>
        <li>
            <a class="users_link" href="${web}/users/listnames/${channel.broadcaster}/0">User list</a>
        </li>
        <li>
            <a class="s_requests_link" href="${web}/songs/${channel.broadcaster}/player">Song Requests Player (WIP))</a>
        </li>
    </ul>
</div>