<html>
<head>
    <meta charset="UTF-8">
    <title>Commands for ${channel.channel}</title>
</head>

<body>

</div>
#parse("include.vm")
<div id="content">
    <table style="width:100%" class="i_commands">
        <tr>
            <td>#</td>
            <td>Content</td>
        </tr>
        #foreach( $item in $command.listContent )
            <tr>
                <td>${foreach.count}</td>
                <td>${item}</td>
            </tr>
        #end
    </table>
</div>
#parse("footer.vm")
</body>

</html>