<link rel="stylesheet" type="text/css" href="${web}/style.css">
<style type="text/css">
    /*This is the new CSS file for the Memebot webpage, v1.0. Be sure to run this with the HTML file or it
WILL NOT WORK PROPERLY!! Things that I have commented out were either optional or testing components.
As long as you pay attention, you can modify the directories without hassle. For any revisions,
contact me via Twitter (@JYNxYoshii) or through email (gr3nadier351@hotmail.com). Have fun!
--Josh Jarvis (Jynx)*/


    /*--------------------
    Document Customization
    --------------------*/
    html {
        background:#bbbbbb;
        background-image:url(${channel.bgImage});
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center;
    }
    /*-------------------
    Main Table w/ Customization
    -------------------*/
    table {
        color:rgba(255,255,255,0.5);
        font-family:Helvetica,Arial,sans-serif;
        width:640px;
        border-collapse:collapse;
        border-spacing:0;
        align-self: baseline;
    }
    tr, td {
        border:1px solid transparent;
        height:30px;
        transition:all 0.3s;
        color: black;
    }
    th {
        background:#0f6d84;
        font-weight:bold;
        color: darkblue;
    }
    td {
        background:rgba(200,229,242,0.7);
        text-align:center;
    }
    tr:nth-child(even) td {
        background:rgba(124,203,223,0.7);
    }
    tr:nth-child(odd) td {
        background:rgba(145,215,232,0.6);
    }
    tr td:hover {
        background:rgba(43,201,240,0.8);
        color:black;
    }
    /*---------------------
    General Text Customization
    ---------------------*/
    a:link {
        color:rgb(0,0,0);
    }
    a:visited {
        color:purple;
    }
    /*-------------------
    Sidepanel Nav Buttons
    -------------------*/
    #nav {
        float:left;
        padding:5px;
    }
    #nav a:link {
        color:#23BADF;
    }
    .commands {
        transition-duration:0.4s;
        /*background-color:#0f6d84;*/
        border:1px solid #23BADF;
        color:white;
        padding:15px 32px;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size:16px;
        font-family:Helvetica,Arial,sans-serif;
        margin-bottom:10px;
    }
    .commands:hover {
        background-color:#0f6d84;
        color:white;
    }
    .i_commands {
        transition-duration:0.4s;
        /*background-color:#0f6d84;*/
        border:1px solid #23BADF;
        color:white;
        padding:15px 32px;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size:16px;
        font-family:Helvetica,Arial,sans-serif;
        margin-bottom:10px;
    }
    .i_commands:hover {
        background-color:#0f6d84;
        color:white;
    }
    .filenames {
        transition-duration:0.4s;
        /*background-color:#0f6d84;*/
        border:1px solid #23BADF;
        color:white;
        padding:15px 32px;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size:16px;
        font-family:Helvetica,Arial,sans-serif;
        margin-bottom:10px;
    }
    .filenames:hover {
        background-color:#0f6d84;
        color:white;
    }
    .users {
        transition-duration:0.4s;
        /*background-color:#0f6d84;*/
        border:1px solid #23BADF;
        color:white;
        padding:15px 32px;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size:16px;
        font-family:Helvetica,Arial,sans-serif;
        margin-bottom:10px;
    }
    .users:hover {
        background-color:#0f6d84;
        color:white;
    }
    .s_requests {
        transition-duration:0.4s;
        /*background-color:#0f6d84;*/
        border:1px solid #23BADF;
        color:white;
        padding:15px 32px;
        text-align:center;
        text-decoration:none;
        display:inline-block;
        font-size:16px;
        font-family:Helvetica,Arial,sans-serif;
        margin-bottom:10px;
    }
    .s_requests:hover {
        background-color:#0f6d84;
        color:white;
    }
    /*---------------------
    Basic Groups
    ---------------------*/

    #header {
        background-color:rgba(0,0,0,0.5);
        color:white;
        text-align:center;
        font-family:Helvetica,Arial,sans-serif;
        padding:5px;
    }
    #content {
        width:30em;
        margin-left:auto;
        margin-right:auto;
        float:left;
        padding:10px;
    }
    #footer {
        background-color:rgba(0,0,0,0.6);
        color:white;
        clear:both;
        text-align:center;
        font-family:Helvetica,Arial,sans-serif;
        padding:5px;
    }

    #footer a:visited {
        color: white;
    }

    #footer a:link {
        color: lightblue;
    }
</style>