<html>
<head>
    <meta charset="UTF-8">
    <title>Memebot help</title>
</head>

<body>
    #parse("style.vm")

<body background="${channel.bgimage}"></body>

<script type="text/javascript">
    function msieversion() {
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0) { // If Internet Explorer, return version number
            console.log("Bad Browser detected");
            window.location = "${web}/badbrowser";
        }
        else { // If another browser, return 0
            console.log("Good Browser detected");
            //window.location = "${web}/badbrowser";
        }

        return false;
    }

    msieversion();
</script>

<div id="header">
    <h1>Memebot help page</h1>
</div>
<div id="nav">
    <ul id="main_nav" style="list-style-type:none">
        <li>
            <a class="s_requests_link" href="${web}/help">Help</a>
        </li>
    </ul>
</div>
<div id="content">
    <p>To make Memebot leave your channel again type</p>

    <code>
        !mepart
    </code>

    <p>in your channel. You must be the broadcaster of the channel to make memebot leave!</p>

    <a href="${web}/help/makecommand">Next Article</a>
</div>
    #parse("footer.vm")
</body>

</html>